body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana;
}
.maindiv{
    background-color: white;
    border:5px;
    border-radius: 25px;
    width:500px;
    padding:20px;
    text-align : center;
    color:black;

}
